{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Profile' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Update Profile</h1>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.firstName) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.lastName) }}
                </div>
            </div>
                {{ form_rest(form) }}

                <button type="submit" class="btn btn-primary w-100">Apply changes</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}