{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <article class="pin bg-white rounded shadow">
                <div class="mw-100 rounded-top overflow-hidden">
                    <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium') }}"
                         alt="{{ pin.title }}" class="w-100" />
                </div>
                <h1 class="h5 text-center text-secondary text-decoration-none">{{ pin.title }}</h1>
                <p class="text-center text-break">{{ pin.description }}</p>
                <p class="text-muted text-center pb-3">
                    <small>
                        Submitted
                        <time datetime="{{ pin.createdAt|date('Y-m-d H:i:s') }}"></time>{{ pin.createdAt|ago }}
                        by {{ pin.user.fullName }}
                    </small>
                </p>

                {% if is_granted('PIN_MANAGE', pin) %}
                    <div class="text-center">
                        <a href="{{ path('app_pins_edit', {id: pin.id}) }}" class="btn btn-light">Edit</a>
                        <a href="#" onclick="event.preventDefault(); confirm('Are you sure ?') &&
    document.querySelector('#js-pin-delete-form').submit();" class="btn btn-warning">Delete</a>

                        <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="post" style="display:none;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </div>
                {% endif %}
            </article>
        </div>
    </div>
{% endblock %}