<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Panterest{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="//code.jquery.com/jquery.js"></script>
            <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {{ include('layouts/partials/_nav.html.twig') }}

        <main role="main" class="container">
            {% block body %}{% endblock %}
        </main>

        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

        {{ include('layouts/partials/_footer.html.twig') }}
    </body>
</html>
