{% extends 'layouts/base.html.twig' %}

{% block title 'Résultats de la recherche' %}

{% block body %}
    {% if app.request.method == 'POST' %}
        <div>
            {% if pins | length == 0 %}
                <h4>Aucun résulat pour votre recherche.</h4>
            {% else %}
                <h3 class="mt-3">Vos résulats de recherche :</h3>
                {% for pin in pins %}
                    <div class="mt-3 p-3 bg-light border rounded">
                        <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                            <div class="rounded-top overflow-hidden">
                                <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium') }}"
                                     alt="{{ pin.title }}"/>
                            </div>
                            <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ pin.title }}</h6>
                            <div class="text-dark small p-1 rounded">
                                Posté le {{ pin.createdAt|date('Y-m-d H:i:s') }} par {{ pin.user.fullName }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}